<!-- ********************************************* -->
<div class="app-body">

  <!-- Row starts -->
  <div class="row gx-3">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title main-color fw-semibold">الأخبار</h5>
          <a class="btn btn-primary ms-auto" routerLink="/add-news">إنشاء خبر</a>
        </div>
        <div class="card-body">

          <!-- Table starts -->
          <div class="table-responsive">
            <div id="basicExample_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="basicExample_length">
                    <label>عرض<select name="basicExample_length" [(ngModel)]="selectedValue" aria-controls="basicExample" class="form-select form-select-sm">
                      <option value="12">12</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select> صفوف الصفحة</label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="basicExample_filter" class="dataTables_filter">
                    <label>بحث:
                      <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="filterNews()" placeholder="بحث عن الأخبار...">
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
              <table id="basicExample" class="table truncate m-0 mt-5 align-middle dataTable no-footer" aria-describedby="basicExample_info">
              <thead>
                <tr>
                  <th class="text-center w-25">ID</th>
                  <th class="text-center w-25">عنوان الخبر</th>
                  <th class="text-center w-25">وصف الخبر</th>
                  <th class="text-center w-25">تاريخ الخبر</th>
                  <th class="text-center w-25">صورة الخبر</th>
                  <th class="text-center w-25">الإجراءات</th>
                </tr>
              </thead>
              <tbody>

                @for (newsItem of displayedNews; track newsItem.id) {
                  <tr>
                    <td class="text-center">{{ newsItem.id }}</td>
                    <td class="text-center">{{ newsItem.title }}</td>
                    <td class="text-center">{{ newsItem.content.split(' ').slice(0, 4).join(' ') }}</td>
                    <td class="text-center">{{ formatDateArabic(newsItem.createdAt) }}</td>
                    <td>
                      <img [src]="'http://medicalcaree.runasp.net/' + newsItem.image" class="img-shadow w-100 h-100 rounded-1 me-1" [alt]="newsItem.title">
                    </td>
                    <td>
                      <div class="d-inline-flex gap-1">
                        <button class="btn btn-outline-danger btn-sm"
                                (click)="setNewsIdForDeletion(newsItem.id)"
                                data-bs-toggle="modal"
                                data-bs-target="#delRow">
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <a [routerLink]="['/news-details', newsItem.id]" class="btn btn-outline-info btn-sm">
                          <i class="fa-regular fa-eye"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
          <!-- Table ends -->

          <!-- Modal Delete Row -->
          <div class="modal fade" id="delRow" tabindex="-1" aria-labelledby="delRowLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="delRowLabel">تأكيد الحذف</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">هل أنت متأكد أنك تريد حذف هذا الخبر؟</div>
                <div class="modal-footer">
                  <button class="btn btn-outline-secondary" data-bs-dismiss="modal">إلغاء</button>
                  <button class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteNews()">حذف</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- Row ends -->

</div>
<router-outlet></router-outlet>
