<div class="container row col-md-11 m-auto mt-5 bg-white shadow rounded-2 p-4 d-flex justify-content-center align-items-center">
  <div class="col-md-6 add-news">
    <div class="title">
      <h3 class="main-color">إنشاء خبر طبي جديد :</h3>
      <p class="sec-color mt-3">يرجى إدخال تفاصيل الخبر الطبي لنشره في المنصة.</p>
    </div>
    <form class="form mt-4" [formGroup]="newsForm"  (ngSubmit)="sumbitForm()" >
      <div class="row gy-4">

        <div class="col-12">

          @let titleControl= newsForm.get('title');

          <input
          formControlName="title"
          type="text" class="form-control" placeholder="عنوان الخبر" aria-label="Last name">

          @if(titleControl?.errors && titleControl?.touched){
            @if (titleControl?.getError('required')) {
              <div class="alert alert-danger" role="alert">
                يجب ان تدخل العنوان
              </div>
             }
          }
        </div>

        <div class="col-12">

          @let imageControl= newsForm.get('image');
          <input
          (change)="onFileSelected($event)"
          formControlName="image"
          type="file" class="form-control" placeholder="صورة الخبر" aria-label="Last name">

          @if(imageControl?.errors && imageControl?.touched){
            @if (imageControl?.getError('required')) {
              <div class="alert alert-danger" role="alert">
                يجب ان تدخل صورة الخبر
              </div>
             }
          }
        </div>

        <div class="col-12">
          @let contentControl= newsForm.get('content');
          <textarea
          formControlName="content"
          class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="محتوي الخبر"></textarea>

          @if(contentControl?.errors && contentControl?.touched){
            @if (contentControl?.getError('required')) {
              <div class="alert alert-danger" role="alert">
                يجب ان تدخل محتوي الخبر
              </div>
             }
          }
        </div>
        <div class="col-12">
          <button type="submit" [disabled]="isLoading" class="btn btn-primary ">إنشاء الخبر</button>
          @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner "></i></span>
          }
          
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <img src="/Mobile Marketing-rafiki.svg" alt="">
  </div>

</div>
