<div class="add-news col-md-7 col-12 bg-white shadow m-auto p-2 p-md-5 mt-5 rounded-2">
  <div class="title">
    <h3 class="main-color">إنشاء خبر طبي جديد :</h3>
    <p class="sec-color mt-2">يرجى إدخال تفاصيل الخبر الطبي لنشره في المنصة.</p>
  </div>
  <form class="form mt-4" action="#">
    <div class="row gy-3">
       
      <div class="col-12">
        <input type="text" class="form-control" placeholder="عنوان الخبر" aria-label="Last name">
      </div>

      <div class="col-12">
        <input type="file" class="form-control" placeholder="صورة الخبر" aria-label="Last name">
      </div>
      <div class="col-12">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="محتوي الخبر"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary ">إنشاء الخبر</button>
      </div>
    </div>
  </form>
</div>
