.profile-img{
  width: 50px;
  height: 50px;
}



@media (max-width:770px) {
  ul.top-link{
    justify-content: space-between !important;
  }
  ul.top-contact{
    display: none !important;
  }
}

:host{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
