<section class="my-5">
  <div class="container">
    <div class="serach-field">
      <div class="row">
        <div class="col-md-3 position-relative">
          <input (input)="clinicsService.onSearchInput($event)" type="search" class="search border p-2  rounded-2 shadow-card bg-transparent w-100" placeholder="بحث عن العيادة" >
          <span class="position-absolute end-0 top-50 translate-middle-y me-4"><i class="fa-solid fa-magnifying-glass sec-color"></i></span>
        </div>
      </div>
    </div>

    <div class="clinics-field mt-5">
      <div class="row gy-3">
        @for (clinic of clinicsService.clinicData(); track clinic.id) {
          <div class="col-md-3 col-6">
            <div class="card shadow-card"  >
              <div class="card-img p-3">
                <div class="inner position-relative">
                  <img [src]="'https://myclinicapp.runasp.net'+clinic.imageUrl" class="card-img-top" [alt]="clinic.name">
                <div class="layer position-absolute bottom-0 start-0 end-0 top-0 rounded-2 d-flex justify-content-center align-items-center">
                  <button [routerLink]="['/clinics-doctors',clinic.id]" class="my-3 bg-white sec-color border-0 px-3 py-2 rounded-2">أقرأ المزيد</button>
                </div>
                </div>
              </div>
              <div class="mt-1">
                <p class="sec-color text-center">{{clinic.name}}</p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
