<div class="Top overlay">
        <div class="container">

            <div class="inner text-center">

                <div class="row">
                    <div class="col-12">
                        <h2>اتصل بنا</h2>
                        <ul class="list ">
                            <li><a routerLink="">الرئيسية</a></li>
                            <li class="ms-2 me-2"> <i class="fa-solid fa-angle-left"></i> </li>
                            <li class="active"> اتصل بنا</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>






<section class="contact-us section">

    <div class="container">

        <div class="inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-us-form">
                        <h2>اتصل بنا</h2>
                        <p>إذا كان لديك أي أسئلة فلا تتردد في الاتصال بنا.</p>

                        <form class="form">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="اسم الطالب">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" list="colleges"  placeholder="الكلية">
                                        <datalist id="colleges">
                                            <option value="كلية الزراعة">
                                            <option value="كلية الهندسة">
                                            <option value="كلية التربية">
                                            <option value="كلية الطب">
                                            <option value="كلية الآداب">
                                            <option value="كلية التربية الرياضية">
                                            <option value="كلية التربية النوعية">
                                            <option value="كلية التجارة">
                                            <option value="كلية العلوم">
                                            <option value="كلية الصيدلة">
                                            <option value="كلية الحقوق">
                                            <option value="كلية طب الأسنان">
                                            <option value="كلية التمريض">
                                            <option value="المعهد الفني للتمريض">
                                            <option value="كلية الحاسبات والمعلومات">
                                            <option value="كلية الفنون التطبيقية">
                                        </datalist>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="الفرقة">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="date" >
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="رقم الهاتف">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" list="Clinics" placeholder="اسم العيادة">
                                        <datalist id="Clinics">
                                        <option value="الجراحة العامة">
                                            <option value="الجلدية">
                                            <option value="النفسية والعصبية">
                                            <option value="الأسنان">
                                            <option value="الصحة النفسية">
                                            <option value="جراحة المخ والأعصاب">
                                            <option value="جراحة الأوعية الدموية">
                                            <option value="جراحة القلب والصدر">
                                            <option value="الباطنة">
                                            <option value="المتوطنة">
                                            <option value="القلب">
                                            <option value="الصدر">
                                            <option value="العظام">
                                            <option value="الروماتيزم والتأهيل">
                                            <option value="الأنف والأذن">
                                            <option value="الرمد">
                                            <option value="النساوالتوليد">
                                            <option value="المسالك">
                                            <option value="الأورام">
                                            <option value="التغذية العلاجية">
                                            <option value="الموجات فوق الصوتية">
                                            <option value="الطوارئ">
                                            <option value="مكافحة العدوى">
                                        </datalist>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea name="" id="" placeholder="رسالتك"></textarea>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="form-group login-btn">
                                        <button class="btn bg-sec" type="submit">ارسال</button>
                                    </div>
                                </div>




                            </div>
                        </form>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="contact-us-left p-2">
                        <div id="myMap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3426.231112462498!2d31.000862175376756!3d30.82418967454022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7c9ec675c5c2d%3A0xcddb2d3a9e9bb876!2sUniversity%20Medical%20Administration!5e0!3m2!1sen!2seg!4v1738766382279!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="contact-info">
            <div class="row">


                <div class="col-lg-4  col-12 ">
                    <div class="single-info">
                        <i class="fa-solid fa-phone"></i>
                        <div class="content">
                            <h3>0403455670</h3>
                            <p>studenthealthcare&#64;unv.tanta.edu.eg</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4  col-12 ">
                    <div class="single-info">
                        <i class="fa-solid fa-location-dot"></i>
                            <div class="content">
                            <h3>مجمع الكليات بسبرباى </h3>
                            <p>طنطا، محافظة الغربية</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-12 ">
                    <div class="single-info">
                        <i class="fa-solid fa-clock"></i>
                        <div class="content">
                            <h3>السبت - الخميس</h3>
                            <p> الجمعة : مغلق</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
