<div class="Top overlay">
<div class="container">

    <div class="inner text-center">

        <div class="row">
            <div class="col-12">
                <h2>معلومات عنا</h2>
                <ul class="list ">
                    <li><a routerLink="">الرئيسية</a></li>
                    <li class="ms-2 me-2"> <i class="fa-solid fa-angle-left"></i> </li>
                    <li class="active">معلومات عنا</li>
                </ul>
            </div>
        </div>

    </div>
</div>

</div>

<!-- ------------------------------------------------ -->

<div class="about ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 "> 
                <div class="about-content">
                    <span>معلومات عنا</span>
                    <h2 class="my-2">أنشأت الإدارة الطبية بمجمع كليات سبرباي في تاريخ ٢٠٠٩/٩/٢٦ وذلك لتقديم الخدمات الطبية للطلاب وتشتمل على ٢٢ عيادة لجميع التخصصات</h2>
                    <p class="my-2">تقديم الخدمات الصحية الوقائية والعلاجية والقيام بالدور التنظيمي والرقابي على الخدمات المرتبطة بصحة وسلامة الطلاب بعدالة وجودة عالية وبالإستخدام الأمثل للموارد وبالشراكة الفعالة مع الجهات ذات العلاقة ضمن سياسة صحة شاملة.</p>
                    <ul class="mt-4">
                        <li><i class="fa-solid fa-check"></i>
                            المهارات العلمية للحصول على نتيجة أفضل
                        </li>
                        <li><i class="fa-solid fa-check"></i>
                            مهارات التواصل للتواصل                    </li>
                        <li><i class="fa-solid fa-check"></i>
                            فرصة متاحة للحصول على نظرة عامة على المهنة                    </li>
                        <li><i class="fa-solid fa-check"></i>
                            بيئة عمل جيدة للعمل                    </li>
                        
                    </ul>
                </div>
               
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------ -->

<div class="message ">

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-vision-box">
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <h3>مهمتنا</h3>
                    <p class="my-3">نلتزم بتقديم خدمات صحية شاملة تتضمن الوقاية والعلاج، مع تعزيز دورنا التنظيمي والرقابي لضمان صحة وسلامة الطلاب. نعمل بجودة عالية، باستخدام الموارد بكفاءة، وبالتعاون مع الجهات ذات الصلة لتحقيق نظام صحي متكامل.</p>

                </div>
           
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-vision-box">
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <h3>رؤيتنا</h3>
                    <p class="my-3">نسعى لبناء مجتمع طلابي صحي ومزدهر من خلال نظام صحي متكامل يرتكز على العدالة، الكفاءة، والجودة، ليكون نموذجًا رياديًا على مستوى المنطقة. </p>

                </div>
           
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-vision-box">
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <h3>تخطيطنا</h3>
                    <p class="my-3">نوفر خدمات متميزة مصممة لتلبية احتياجات الطلاب وضمان أعلى مستويات الرعاية.</p>

                </div>
           
            </div>

            

        </div>
    </div>

</div>

<!-- ------------------------------------------------ -->

<div class="mission ">

    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-lg-6 col-md-12 ">
                <div class="our-mission-content ">
                    <span class="sub-title">مهمتنا &amp; رؤيتنا</span>
                    <h2>معلومات أفضل، صحة أفضل</h2>
                    <p>خدمة الطلاب علاجيا وتقديم الرعاية الشاملة لهم للوقاية من مرض أو التخلص من مشكلة صحية معينة عن طريق توفير جميع التخصصات بعيادات الإدارة الطبية.
                        تحويل الطلاب بالمستشفيات المتعاقد معها فى حالة عدم توافر الخدمة بالإدارة الطبية.
                        تنظيم العمل بين الأطباء والممرضين والفنين والمتخصصين بهدف المحافظة على صحة الطلاب.
                        </p>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fa-solid fa-user-doctor"></i>

                                </div>
                                <span>طاقم عمل محترف</span>
                                فريقنا يتميز بالكفاءة والخبرة لضمان تقديم أعلى مستويات الرعاية الصحية.
                            </li>

                            <li>
                                <div class="icon">
                                    <i class="fa-solid fa-child"></i>
                                </div>
                                <span>رعاية حديثي الولادة</span>
                                نقدم خدمات شاملة ومتخصصة لرعاية الأطفال حديثي الولادة لضمان سلامتهم ونموهم الصحي.           
                            </li>
                                

                            
                            <li>
                                <div class="icon">
                                    <i class="fa-solid fa-flask-vial"></i>                                </div>
                                <span>اختبارات معملية دقيقة</span>
                                نوفر مجموعة متكاملة من التحاليل الطبية بدقة وجودة عالية لتلبية احتياجات المرضى.
                            </li>

                            <li>
                                <div class="icon">
                                    <i class="fa-solid fa-tooth"></i>          
                                </div>
                                <span>خلع الأسنان</span>
                                نُجري عمليات خلع الأسنان بأحدث التقنيات مع التركيز على راحة المريض وسلامته.
                            </li>
                            

                        </ul>
                </div>
            </div>


            <div class="col-lg-6 col-md-12 ">
                <div class="our-mission-image"></div>
            </div>

        </div>
    </div>


</div>