<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>معلومات عنا</h2>
                        <p>تقديم الخدمات الصحية الوقائية والعلاجية والقيام بالدور التنظيمي والرقابي على الخدمات المرتبطة بصحة وسلامة الطلاب.</p>
                    
                        <ul class="social  d-flex">
                            <li><a href="https://www.facebook.com/share/15uWpUc4hW/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/tanta_university_shc/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
                            <li><a href="#" ><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" ><i class="fa-brands fa-pinterest"></i></a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 ">
                    <div class="single-footer f-link">
                        <h2>روابط سريعة</h2>
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a routerLink="home"><i class="fa-solid fa-angle-left"></i>الرئيسية </a></li>
                                    <li><a routerLink="about us"><i class="fa-solid fa-angle-left"></i>معلومات عنا</a></li>
                                    <li><a routerLink="news"><i class="fa-solid fa-angle-left"></i>الاخبار</a></li>
                                    <li><a routerLink="clinics-student"><i class="fa-solid fa-angle-left"></i>العيادات</a></li>
                                    <li><a routerLink="contact us"><i class="fa-solid fa-angle-left"></i>تواصل معنا</a></li>
                                    
                                </ul>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <li><a routerLink="medical-record"><i class="fa-solid fa-angle-left"></i>السجل الطبي</a></li>
                                <li><a routerLink="book appointment"><i class="fa-solid fa-angle-left"></i>انشاء ميعاد</a></li>
                                <li><a routerLink="appointment-student"><i class="fa-solid fa-angle-left"></i>المواعيد </a></li>
                                <li><a routerLink=""><i class="fa-solid fa-angle-left"></i> شهادات</a></li>
                                <li><a routerLink=""><i class="fa-solid fa-angle-left"></i> روابط اخرى</a></li>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>ساعات العمل</h2>
                        <p>استقبال ٢٤ ساعة لحالات الطوارئ وعمل الأسعافات الأولية ويتم تحويل الحالات الحرجة لمستشفى الطوارئ فى الحال.</p>
                        <ul class="time-sidual">
                            <li class="day">السبت - الخميس <span>8.00-20.00</span></li>
                            <li class="day"> الجمعة <span >مغلق</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>النشرة الإخبارية</h2>
                        <p>اشترك في النشرة الإخبارية لدينا للحصول على جميع أخبارنا في صندوق الوارد الخاص بك... </p>
                        
                        <form class="newsletter-inner" >
                            <input type="email" class="common-input" name="email" placeholder="عنوان البريد الإلكتروني">
                            <button class="button">
                                <i class="fa-solid fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="copyright-content">
                        <p>© جميع الحقوق محفوظة لجامعة طنطا 2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>


